.about {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 576px) {
    .wrapper {
        margin: auto 2rem;
    }
}