.section-background {
	background-color: hsl(0, 8%, 95%);
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;

	padding: 20px;
}

.text {
	margin-top: 0;
}

.paragraph {
	font-size: 1rem;
}

.h2 {
	font-size: 1.7rem;
}

@media (min-width: 576px) {
	.h2 {
		font-size: 2rem;
	}
	
	.paragraph {
		font-size: 1.1rem;
	}
}
