.form-background {
    position: relative;
    display: flex;
    flex-direction: column;
    transform: translateY(-60%);
    width: 100%;
    border-radius: 8px;
    background-color: var(--dark-violet);
    overflow: hidden;
}

.bg-image {
    background-image: url('../../assets/images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right top;
}

.form-wrap {
    padding: 25px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    margin-bottom: 1rem;
    padding: 0.9rem;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
}

.form-err input {
    border: 2px solid var(--red);
}

.form-err input:focus {
    outline: none;
    box-shadow: 0 0 10px var(--red);
}

.form input::placeholder {
    color: var(--grayish-violet)
}


.form-err input::placeholder {
    color: hsla(0, 87%, 67%, 0.436);
}


.button {
    border-radius: 5px;
}

.error-container {
    display: flex;
    margin-top: -0.8rem;
    margin-bottom: 0.2rem;
    color: hsla(0, 87%, 67%, 0.819);
    font-size: 0.8rem;
}

@media (min-width: 576px) {
    .form input {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {

    .bg-image {
        background-image: url('../../assets/images/bg-shorten-desktop.svg');
        background-size: 100%;
        background-position: 0 0;
        background-size: cover;
    }

    .form-background {
        transform: translateY(-70%);
    }

    .form {
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .form input {
        margin-bottom: 0;
        margin-right: 1rem;
        width: 75%;
    }

    .form-wrap {
        padding: 40px 30px;
    }

    .button {
        padding-left: 10px;
        padding-right: 10px;
        width: 20%;
        font-size: 1.15rem;
    }

    .error-container {
        position: absolute;
        bottom: 10%;
        left: 5%;
    }
}
