.field {
	position: relative;
	background: white;
	border-radius: 5px;
	transition: transform 0.3s, box-shadow 0.3s;

}

.field:hover {
	transform: scale(1.02);
	box-shadow: 0px 4px 44px -8px var(--dark-violet);
}

.field-text {
	margin-top: 3rem;
	padding: 1.5rem 2.3rem;
}

.paragraph {
	margin-bottom: 1rem;
	font-size: 1rem;
}

.icon-container {
	position: absolute;
	display: flex;
	justify-content: center;
	right: 0;
	left: 0;
}

.icon-background {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 90px;
	transform: translateY(-50%);
	border-radius: 50%;
	background-color: var(--dark-violet);
}

.icon {
	background-repeat: no-repeat;
	background-position: center center;
	width: 40px;
	height: 40px;
}

.recognition {
	background-image: url('../../assets/images/icon-brand-recognition.svg');
}

.records {
    background-image: url('../../assets/images/icon-detailed-records.svg');
}

.customizable {
    background-image: url('../../assets/images/icon-fully-customizable.svg');
}

.bar-container {
    display: flex;
    justify-content: center;
}

.bar {
    height: 100px;
    width: 10px;
    background-color: var(--cyan);
}

.h3 {
	font-size: 1.3rem;
}


@media (min-width: 1200px) {
	.icon-container {
		justify-content: flex-start;
		margin-left: 2rem;
	}

	.field-text {
		text-align: left;
	}

	.bar-container {
		align-items: center;
	}

	.bar {
		height: 10px;
		width: 30px;
	}

	.brand {
		transform: translateY(-2rem);
	}

	.detailed {
		transform: translateY(1rem);
	}

	.fully {
		transform: translateY(4rem);
	}
}

