.desktop-nav {
	display: none;
    justify-content: space-between;
    width: 100%;
    margin-left: 1rem;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
}

.link {
    margin-left: 2rem;
    text-decoration: none;
    color: var(--grayish-violet);
    font-weight: bold;
    font-size: 1rem;
}

.wrapper {
    display: flex;
    align-items: flex-start;
}

.button {
    margin-top: -0.3rem;
    margin-left: 2rem;
    padding: 10px 20px;
    font-size: 0.9rem;
}

.btn {
    display: flex;
    justify-content: center;
}

@media (min-width: 992px) {
    .desktop-nav {
        display: flex;
    }
}