.navbar {
    display: flex;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}

.logo {
    background-image: url('../../assets/images/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 121px;
    height: 40px;
}

@media (min-width: 992px) {
    .bar {
        justify-content: start;
    }
}