.header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10rem;
    overflow-x: hidden;
    padding: 0 20px;
}

.image {
    background-image: url('../../assets/images/illustration-working.svg');
    width: 733px;
    height: 340px;
    background-size: 70%;
    background-repeat: no-repeat;
}

.button {
    width: 55%;
}