.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-bottom: 10rem;
    padding: 0 20px;
    overflow-x: hidden;
}

.image {
    background-image: url('../../assets/images/illustration-working.svg');
    width: 733px;
    height: 340px;
    background-size: contain;
    background-repeat: no-repeat;
}

.button {
    width: 200px;
}

.h1 {
    font-size: 2.2rem;
}

.paragraph {
    font-size: 1.2rem;
}

.btn {
    display: flex;
    justify-content: center;
}

@media(min-width:576px) {
    .image {
        background-size: 75%;
        height: 430px;
        width: 860px;
        background-position: 3rem 0;
    }

    .h1 {
        font-size: 2.5rem;
    }

    .paragraph {
        font-size: 1.1rem !important;
    }
}

@media (min-width: 768px) {
    .image {
        background-size: 80%;
        height: 490px;
        background-position: 8rem 0;
    }
}

@media (min-width: 992px) {
    .header {
        flex-direction: row;
        margin-bottom: 8rem;
    }

    .container {
        display: flex;
        align-items: center;
        width: 100%;
        height: 500px;
    }

    .text-container {
        display: flex;
        flex-direction: column;
    }

    .image {
        position: absolute;
        right: -12rem;
        order: 1;
        background-size: contain;
        background-position: 10rem 0;
    }

    .h1 {
        font-size: 3.5rem;
        line-height: 4.5rem !important; 
    }

    .text {
        text-align: left !important;
    }

    .wrapper {
        display: flex;
        justify-content: center;
    }

    .btn {
        justify-content: start;
    }

    .button {
        padding: 10px;
    }

    .half {
        width: calc(2000px/2);
    }
}

@media (min-width: 1200px) {
    .h1 {
        font-size: 4.5rem;
    }

   .image {
    right: -15rem;
    background-position: 0 0;
   }
}

@media (min-width: 1400px) {
    .image {
        right: -10rem;
        background-size: contain;
    }
}