.section-background {
    display: flex;
    justify-content: center;
    background-color: var(--very-dark-violet);
    text-align: center;
    padding: 3rem 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.logo {
    margin-bottom: 1rem;
    background-image: url('../../assets/images/logo-footer.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 33px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.socials {
    flex-direction: row;
    margin-top: 2rem;
}


@media (min-width: 1200px) {
    .section-background {
        padding: 2rem 0;
    }
    
    .links-container {
        display: flex;
        justify-content: space-evenly;
    }

    .logo-container {
        height: 150px;
    }


    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .links {
        flex-direction: row;
        align-items: flex-start;
        margin-right: 3rem;
    }

    .socials {
        align-items: flex-start;
        margin-right: 0;
    }

}