.links {
    margin-top: 2rem;
}

.links a {
    text-decoration: none;
}

.bold-link {
    margin-bottom: 1.5rem;
}

.bold-link a{
    color: white;
}

.bold-link a:hover {
    color: var(--cyan)
}

.normal-links {
    display: flex;
    flex-direction: column;
}

.normal-links a {
    margin-bottom: 0.7rem;
    text-decoration: none;
    color: var(--grayish-violet);
}

.normal-links a:hover {
    color: white;
}

@media (min-width: 1200px) {
    .links {
        text-align: left;
        margin-right: 4rem;
    }
}