.socials {
    margin: 0 0.8rem;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.fb {
    background-image: url('../../assets/images/icon-facebook.svg');
}


.x  {
    background-image: url('../../assets/images/icon-x.svg');
}

.p {
    background-image: url('../../assets/images/icon-pinterest.svg');
}

.i {
    background-image: url('../../assets/images/icon-instagram.svg');
}